.Plans {
  display: flex;
  justify-content: space-between;
}

.Plan {
}

.Plan .Plan_header {
  padding: 15px 30px;
  text-align: center;
  background: green;
  color: white;
}

.Plan .Plan_name {
}
.Plan .Plan_body {
  padding: 15px 30px;
  text-align: center;
}
.Plan .Plan_body_price {
  display: inline-block;
  font-size: 32px;
  line-height: 46px;
}

.Plan .Plan_body_duration {
  display: inline-block;
}
.Plan .Plan_body_feature {
}
.Plan .Plan_footer {
  text-align: center;
  padding: 15px 30px;
}
