.Tile {
  border-left: 1px solid var(--white-medium);
  background: var(--white-lite);
  text-align: center;
  flex: 1 1;
}

.Tile .Tile:first-child {
  border-left: none;
}

.Tile .Tile_num {
  font-size: 32px;
}

.Tile .Tile_subline {
  font-size: 10px;
}
