.Stat {
  display: inline-block;
  padding: 15px 0;
  border-left: 1px solid $white-medium;
  background: $white-lite;
  text-align: center;
}

.Stat .Stat:first-child {
  border-left: none;
}

.Stat .Stat_num {
  font-size: 32px;
}

.Stat .Stat_subline {
  font-size: 10px;
}
